<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

  <targets>
    <!-- логи действий пользователя -->
    <target name="userActions" xsi:type="File"
            fileName="logs/user-actions-${shortdate}.log"
            layout="${longdate} | ${level:uppercase=true} | ${message} | ${logger} | ${aspnet-request-url} | ${aspnet-user-identity}" />

    <!-- логи ошибок -->
    <target name="errors" xsi:type="File"
            fileName="logs/errors-${shortdate}.log"
            layout="${longdate} | ${level:uppercase=true} | ${message} | ${exception:format=ToString} | ${logger} | ${aspnet-request-url}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="userActions" />
    <logger name="*" minlevel="Error" writeTo="errors" />
  </rules>
</nlog>